.headerText {
  font-weight: bold;
}

.wrapper {
  background-image: url(./assets/cupcakes.jpg);
  background-size: cover;
  text-align: center;
  padding: 150px;
  height: 600px;
}

.infoBox {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background-color: #fcfad6;
  float: right;
  width: 47%;
  height: 400px;
  display: inline-block;
}

.formStyle {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background-color: #fcfad6;
  float: left;
  width: 47%;
  height: 400px;
  display: inline-block;
}

.footerStyle {
  text-align: center;
}